@page
@model TheOrchardist.Pages.Account.UserPlants.IndexModel
@{
    ViewData["Title"] = "Index";
}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a asp-page="/Index"><img width="85" height="55"  src="https://massatstorage.blob.core.windows.net/orchadistfiles/logonew.png" /></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-page="/UserOrchards/Index" asp-route-orchardname="@Model.OrchardName">Orchards</a></li>
                <li><a asp-page="/GlobalPlants/Index" asp-route-orchardname="@Model.OrchardName">Find Fruit</a></li>
                <li><a asp-page="./Create" asp-route-id="0" asp-route-orchardname="@Model.OrchardName">Add Your Own Variety</a></li>
                <li><a asp-page="./Whiteboard"  asp-route-id="0" asp-route-orchardname="@Model.OrchardName">Orchard Map</a></li>

            </ul>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>
</nav>
<section><h2>@Model.OrchardName</h2></section>

<table class="table" style="table-layout:fixed">
    <thead>
        <tr>
            <th width="300">
                @Html.DisplayNameFor(model => model.UserPlantList[0].PlantName)
            </th>
            <th width="200">
                @Html.DisplayNameFor(model => model.UserPlantList[0].FruitVariety)
            </th>
            <th width="200">
                @Html.DisplayNameFor(model => model.UserPlantList[0].Use)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserPlantList)
        {
            <tr>
                <td >
                    <a style="font-weight:bold" asp-page="./Details" asp-route-orchardname="@item.OrchardName">
                        @Html.DisplayFor(modelItem => item.PlantName)
                    </a>
                </td>
                <td >
                    @Html.DisplayFor(modelItem => item.FruitVariety)
                </td>
                <td >
                    @Html.DisplayFor(modelItem => item.Use)
                </td>

                <td>
                    <a asp-page="./Edit" asp-route-orchardname="@Model.OrchardName"><span class="glyphicon glyphicon-edit" title="Edit"></span></a> |
                    @*<a asp-page="./Details" asp-route-id="@item.OrchardID" asp-route-orchardname="@Model.OrchardName"><span class="glyphicon-list" title="Details"></span></a> |*@
                    <a asp-page="./Delete" asp-route-orchardname="@Model.OrchardName"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>

                </td>
            </tr>
        }
    </tbody>
</table>
